@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">');
@import url('<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">');

/*Geral*/
body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.body {
  background-color: rgb(32, 31, 31);
}

img{
  width: 75%;
  border-radius: 65px;
  margin-top: 5px;
  margin-left: 20px;
}

button{
  border-radius:  70%;
  border: 0;
  border-spacing: 10px;
  word-spacing: 10px;
}

